In [81]:
import pandas as a

In [82]:
b = a.read_csv(r"C:\Users\RUPIKA\Desktop\HEART.csv")
b

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [83]:
b.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [84]:
b.shape

(270, 14)

In [85]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [86]:
#data preprocessing
b.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [87]:
#feature extraction
X=b[['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium']]
X

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3

In [88]:
Y=b[['Heart Disease']]
Y

    Heart Disease
0        Presence
1         Absence
2        Presence
3         Absence
4         Absence
..            ...
265       Absence
266       Absence
267       Absence
268       Absence
269      Presence

[270 rows x 1 columns]

In [89]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.20)

In [90]:
Xtrain.shape

(216, 13)

In [91]:
Ytrain.shape

(216, 1)

In [92]:
Xtest.shape

(54, 13)

In [93]:
Ytest.shape

(54, 1)

In [94]:
from sklearn.metrics import accuracy_score ,classification_report,confusion_matrix
from sklearn import svm
C1=svm.SVC()
C1.fit(X,Y)
Ypred=C1.predict(Xtest)
score = accuracy_score(Ytest,Ypred)
print(score)
print(classification_report(Ytest,Ypred))

0.5925925925925926
              precision    recall  f1-score   support

     Absence       0.60      0.80      0.69        30
    Presence       0.57      0.33      0.42        24

    accuracy                           0.59        54
   macro avg       0.59      0.57      0.55        54
weighted avg       0.59      0.59      0.57        54

C:\Users\RUPIKA\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [95]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
C=DecisionTreeClassifier()
C.fit(X,Y)
Ypred=C.predict(Xtest)
score = accuracy_score(Ytest,Ypred)
print(score)

1.0

In [96]:
p=C.predict([[74,0,2,120,269,0,2,121,1,0.2,1,1,3]])
print(p)

['Absence']

C:\Users\RUPIKA\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [97]:
print(classification_report(Ytest,Ypred))

              precision    recall  f1-score   support

     Absence       1.00      1.00      1.00        30
    Presence       1.00      1.00      1.00        24

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

In [98]:
cm=confusion_matrix(Ytest,Ypred)
cm

array([[30,  0],
       [ 0, 24]], dtype=int64)